:root {
  /* Custom color variables */
  --dark-purple: #24053e;
  --eucalyptus: #44ffa1;
  --davy-grey: #584d62;
  --ghost-white: #fcf8ff;
  --white: #ffffff;
}

/*
===========
Basic reset
=========== 
*/

/* Simpler sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* Minimum body height */
body {
  min-height: 100svh;
}

/* Responsive media */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
==========
Typography
==========
*/

h1,
h2 {
  font-family: "Fraunces", serif;
}

h1 {
  font-size: clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem);
}

p,
a {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
}

/*
==========
Navigation
==========
*/

/* Nav tag */
nav {
  background-color: var(--dark-purple);
  padding-block: 3.5rem;
}

/* Nav container */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.secondary-btn {
  color: var(--white);
  text-decoration: none;
  border-bottom: 3px solid var(--eucalyptus);
  padding-bottom: 0.25rem;
  transition: color 200ms ease-in-out;
}

.secondary-btn:hover {
  color: var(--eucalyptus);
}
