:root {
  /* Custom color variables */
  --dark-purple: #24053e;
  --eucalyptus: #44ffa1;
  --davy-grey: #584d62;
  --ghost-white: #fcf8ff;
  --white: #ffffff;
}

/*
===========
Basic reset
=========== 
*/

/* Simpler sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* Minimum body height */
body {
  min-height: 100svh;
}

/* Responsive media */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
==========
Typography
==========
*/

h1,
h2 {
  font-family: "Fraunces", serif;
}

h1 {
  font-size: clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem);
  line-height: 1;
  max-width: 12ch;
}

p,
a {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
}

/*
=======
Buttons
=======
*/

.primary-btn {
  display: inline-block;
  color: var(--dark-purple);
  text-decoration: none;
  background-color: var(--eucalyptus);
  border: 2px solid var(--eucalyptus);
  padding: 1rem 2rem;
  transition: all 200ms ease-in-out;
}

.primary-btn:hover {
  color: var(--eucalyptus);
  background-color: transparent;
}

.secondary-btn {
  color: var(--white);
  text-decoration: none;
  border-bottom: 3px solid var(--eucalyptus);
  padding-bottom: 0.25rem;
  transition: color 200ms ease-in-out;
}

.secondary-btn:hover {
  color: var(--eucalyptus);
}

/*
==========
Navigation
==========
*/

/* Nav tag */
nav {
  background-color: var(--dark-purple);
  padding-block: 3.5rem;
}

/* Nav container */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
============ 
Hero section
============
*/

.hero-section {
  background-color: var(--dark-purple);
  color: var(--white);
  text-align: center;
  padding: 2em 1em;
}

.hero-section h1 {
  margin-inline: auto;
  margin-bottom: 2.5rem;
}

/*
===============
Phone container
===============
*/

.phone-container {
  position: relative;
  overflow: hidden;
  background-color: var(--ghost-white);
  padding: 1rem;
  z-index: 10;
}

.phone-container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: clamp(4rem, 0.4789rem + 15.0235vw, 14rem);
  top: 0;
  border-radius: 0 0 50% 50%;
  background-color: #24053e;
  z-index: -10;
  transform: scale(1.5);
}

.phone {
  max-width: clamp(20rem, 10.1408rem + 42.0657vw, 48rem);
  margin-inline: auto;
}
