:root {
  /* Custom color variables */
  --dark-purple: #24053e;
  --eucalyptus: #44ffa1;
  --davy-grey: #584d62;
  --ghost-white: #fcf8ff;
  --white: #ffffff;
}

/*
===========
Basic reset
=========== 
*/

/* Simpler sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
}

/* Minimum body height */
body {
  min-height: 100svh;
}

/* Responsive media */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/*
==========
Typography
==========
*/

h1,
h2 {
  font-family: "Fraunces", serif;
}

h1 {
  font-size: clamp(3.125rem, 2.4648rem + 2.8169vw, 5rem);
  line-height: 1.2;
  max-width: 12ch;
}

p,
a {
  font-family: "Manrope", sans-serif;
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  line-height: 1.75;
}

/*
=======
Buttons
=======
*/

.primary-btn {
  display: inline-block;
  color: var(--dark-purple);
  text-decoration: none;
  background-color: var(--eucalyptus);
  border: 2px solid var(--eucalyptus);
  padding: 1rem 2rem;
  transition: all 200ms ease-in-out;
}

.primary-btn:hover {
  color: var(--eucalyptus);
  background-color: transparent;
}

.secondary-btn {
  color: var(--white);
  text-decoration: none;
  border-bottom: 3px solid var(--eucalyptus);
  padding-bottom: 0.25rem;
  transition: color 200ms ease-in-out;
}

.secondary-btn:hover {
  color: var(--eucalyptus);
}

/*
==========
Navigation
==========
*/

/* Nav tag */
nav {
  background-color: var(--dark-purple);
  padding-block: 3.5rem;
}

/* Nav container */
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

/* Logo */
.header-logo {
  fill: var(--white);
  transition: fill 200ms ease-in-out;
}

.header-logo:hover {
  fill: var(--eucalyptus);
}

/*
============ 
Hero section
============
*/

/* Hero section */
.hero-section {
  position: relative;
  overflow: hidden;
  background-color: var(--dark-purple);
  color: var(--white);
  text-align: center;
}

/* Hero section pseudo images */
.hero-section::before {
  content: url(./images/bg-pattern-1.svg);
  position: absolute;
  left: 0;
  margin-left: -8rem;
}

.hero-section::after {
  content: url(./images/bg-pattern-2.svg);
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 12rem;
  margin-right: -3rem;
}

/* Hide hero pseudo image on screen sizes equal to or less than 44rem */
@media (width <= 44rem) {
  .hero-section::before,
  .hero-section::after {
    display: none;
  }
}

/* Hero container */
.hero-container {
  padding: 2rem 1rem;
}

/* Hero container mobile styling */
@media (width <= 35rem) {
  .hero-container {
    padding: 0 1rem;
  }
}

.hero-container h1 {
  margin-inline: auto;
  margin-bottom: 2.5rem;
}

/* H1 decoration */
.h1-decoration {
  border-bottom: 3px solid var(--eucalyptus);
}

.hero-container .primary-btn {
  margin-bottom: 3.5rem;
}

/* Hero image container */
.hero-image-container {
  position: relative;
  overflow: hidden;
  background-color: var(--ghost-white);
  padding: 0 1rem;
}

/* Hero phone bg curve */
.hero-image-container::before {
  content: "";
  position: absolute;
  background-color: var(--dark-purple);
  left: 0;
  height: 40%;
  width: 100%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: scale(1.5);
}

/* Hero image */
.hero-image {
  position: relative;
  width: 100%;
  height: auto;
  max-width: clamp(20rem, 12rem + 40vw, 48rem);
  padding: 1rem;
  margin-inline: auto;
}

/*
================
Benefits section
================
*/

/* Benefits section */
.benefits {
  background-color: var(--ghost-white);
  text-align: center;
  padding-top: 4rem;
}

/* Benefits container */
.benefits-container {
  position: relative;
  display: flex;
  gap: 3rem;
  max-width: 70rem;
  margin-inline: auto;
  padding: 0 1rem;
}

/* Benefits columns */
.benefits-col {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  max-width: 22rem;
  gap: 3.5rem;
}

/* Benefits number */
.benefits-number {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3.5rem;
  min-height: 3.5rem;
  border: 1px solid var(--davy-grey);
  border-radius: 50%;
  font-family: "Fraunces", serif;
}

/* Benefits heading */
.benefits-col h2 {
  margin-bottom: clamp(1rem, 0.7359rem + 1.1268vw, 1.75rem);
}

/* Benefits divider container */
.benefits-divider-container {
  overflow: hidden;
  padding-bottom: 4rem;
}

/* Benefits divider */
.benefits-divider {
  height: clamp(8rem, 6.5915rem + 6.0094vw, 12rem);
  background-color: var(--ghost-white);
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  transform: scale(1.5);
}

/* Benefits tablet breakpoint styling */
@media (width <= 60rem) {
  .benefits {
    /* benefits section text-align */
    text-align: left;
  }

  .benefits-container {
    /* Benefits container flex styles */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .benefits-col {
    /* Benefits column flex styles */
    flex-direction: row;
    max-width: 35rem;
    gap: 2rem;
  }
}

/* Benefits mobile breakpoint styling */
@media (width <= 35rem) {
  .benefits {
    /* benefits section text-align */
    text-align: center;
  }

  .benefits-col {
    /* Benefits column flex styles */
    flex-direction: column;
    max-width: 21rem;
  }
}

/*
===============
Founder section
===============
*/

/* Founder section */
.founder {
  background-color: var(--white);
  padding: 4rem 1rem;
}

/* Founder container */
.founder-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  max-width: 68rem;
  margin-inline: auto;
  padding: 0 1rem;
}

/* Founder profile picture */
.profile-picture {
  grid-column: 1/3;
  width: 100%;
  height: auto;
  max-width: clamp(17.5rem, 13.0986rem + 18.7793vw, 30rem);
}

/* Founder content */
.founder-content {
  position: relative;
  grid-column: 3 / -1;
  color: var(--white);
  background-color: var(--dark-purple);
  padding: clamp(1rem, 0.1197rem + 3.7559vw, 3.5rem);
  margin-top: 12rem;
}

.founder-content h2 {
  font-size: clamp(2rem, 1.4718rem + 2.2535vw, 3.5rem);
}

.founder-content h2,
.founder-content p {
  margin-bottom: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  max-width: 37.5rem;
}

/* Founder pseudo image */
.founder-content::after {
  content: url(./images/bg-pattern-3.svg);
  position: absolute;
  right: 0;
  margin-top: -2rem;
}

/* Hides founder pseudo image on screen sizes equal to or less than 44rem */
@media (width <= 44rem) {
  .founder-content::after {
    display: none;
  }
}

/* Founder mobile breakpoint styling */
@media (width <= 35rem) {
  .founder-container {
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }

  .founder-content {
    grid-column: 1 / 1;
    max-width: 22rem;
    margin-top: -4rem;
  }
}

/*
====== 
Footer
======
*/

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding: 4rem 1rem;
}

/* Footer logo */
.footer-logo {
  fill: var(--dark-purple);
}

/* Social links */
.social-links {
  display: flex;
  gap: 2rem;
}

.social-link svg {
  fill: var(--davy-grey);
  transition: fill 200ms ease-in-out;
}

.social-icon:hover {
  fill: var(--dark-purple);
}
